/* a {
    color: rgb(120, 0, 0);
}
 a:link {
    color: rgb(120, 0, 0);
} 
 a:visited {
    color: rgb(120, 0, 0);
} 
a:hover {
    color: rgb(255, 0, 0);
} */

a {
  color: #880000;
  text-decoration: none;
}

a:hover {
  color: #c17b01;
  text-decoration: none;
}

/* mark1 {
    background-color: red;
    color: white;
}

mark2 {
    background-color: orange;
    color: black;
}

mark3 {
    background-color: yellow;
    color: black;
}

mark4 {
    background-color: greenyellow;
    color: black;
}

mark5 {
    background-color: blue;
    color: white;
}

mark6 {
    background-color: purple;
    color: white;
}

mark7 {
    background-color: magenta;
    color: black;
}

mark8 {
    background-color: black;
    color: white;
}
 */

.aqua-body {
    background-image: url('../assets/background-aquarium-v3.1.png');
    /* background-size: 100% auto; */

    /* daria w3 */
    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-size:contain  */

    /* Aakhya Singh codepen */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center center; */
    /* height: 100%; */
    /* width: 100%; */
    /* color: white; */
    /* text-align: center; */
    /* display: table; */
    /* background-color: rgba(21, 139, 207, 0.5); */

    /* daria*/
    /* box-sizing: border-box; */
    /* height: 100%; */
    /* margin: 0; */

    /* background-size: cover; */
    /* display: flex; */
    /* flex-direction: row; */

    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(21, 139, 207, 0.5);
}

.aqua-div {
    background-color: rgba(25, 168, 250, 0.5);
    border-radius: 15px;
    padding: 15px
}

.green-body {
    background-image: url('../assets/background-greenhouse-v3.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(14, 134, 32, 0.766);

    /* daria*/
    /* box-sizing: border-box; */
    /* height: 100%; */
    /* margin: 0; */

    /* background-size: 100% 100%; */
    /* display: flex; */
    /* flex-direction: row; */

}

.green-div {
    background-color: rgba(24, 199, 59, 0.66);
    border-radius: 15px;
    padding: 15px
}

.farm-body {
    background-image: url('../assets/background-farm-v1.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #DCB567;

    /* daria*/
    /* box-sizing: border-box;
    height: 100%;
    margin: 0;

    background-size: cover;
    display: flex;
    flex-direction: row; */

}

.farm-div {
    background-color: rgba(199, 176, 24, 0.53);
    border-radius: 15px;
    padding: 15px
}

.tropari-body {
    background-image: url('../assets/background-safari-v1.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

.tropari-div {
    background-color: rgba(164, 199, 24, 0.53);
    border-radius: 15px;
    padding: 15px
}

.main-body {
    /* background-image: url('../assets/images-2.jpeg'); */
    background-image: url('../assets/glitch-3.gif');
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: repeat;
}

.main-div {
    background-color: rgba(211, 69, 8, 0.695);
    border-radius: 15px;
    padding: 15px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* border: 3px solid green;  */
}

.centerfrm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    /* border: 3px solid green;  */
}





/* .map-body {
    background-image: url('../assets/map-v3.png');
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */